// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

#main-image {
    width: 128px;
    margin: 0 auto;
}

#screenshot {
    margin: 0 auto;
}

.voffset  { padding-top: 2px; }
.voffset1 { padding-top: 5px; }
.voffset2 { padding-top: 10px; }
.voffset3 { padding-top: 15px; }
.voffset4 { padding-top: 30px; }
.voffset5 { padding-top: 40px; }
.voffset6 { padding-top: 60px; }
.voffset7 { padding-top: 80px; }
.voffset8 { padding-top: 100px; }
.voffset9 { padding-top: 150px; }
